<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hello123</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.defect.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMenuServlet</display-name>
    <servlet-name>UserMenuServlet</servlet-name>
    <servlet-class>com.defect.controller.UserMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMenuServlet</servlet-name>
    <url-pattern>/UserMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateIssue</display-name>
    <servlet-name>CreateIssue</servlet-name>
    <servlet-class>com.defect.controller.CreateIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateIssue</servlet-name>
    <url-pattern>/CreateIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIssue</display-name>
    <servlet-name>UpdateIssue</servlet-name>
    <servlet-class>com.defect.controller.UpdateIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIssue</servlet-name>
    <url-pattern>/UpdateIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteIssue</display-name>
    <servlet-name>DeleteIssue</servlet-name>
    <servlet-class>com.defect.controller.DeleteIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIssue</servlet-name>
    <url-pattern>/DeleteIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchIssue</display-name>
    <servlet-name>SearchIssue</servlet-name>
    <servlet-class>com.defect.controller.SearchIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIssue</servlet-name>
    <url-pattern>/SearchIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByClient</display-name>
    <servlet-name>SearchByClient</servlet-name>
    <servlet-class>com.defect.controller.SearchByClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByClient</servlet-name>
    <url-pattern>/SearchByClient</url-pattern>
  </servlet-mapping>
</web-app>